# Auto detect text files and perform LF normalization
* text=auto
Unity Anti Cheat was originally made off the base code of Hydra Anti Cheat.
Learn more about them from f8-studios! They were kind enough to partner with us.

NightwalkerLots Founded the Unity Anti-Cheat Project.
What was originally a simple concept made with command blocks turned into a function pack that grew into something bigger.

Special thanks to the other main developer @Catastrophy who made a lot of ground breaking systems for UAC.

Special thanks to Roman Mender, @mrpatches123, @balloon and XFallen54x
For providing much help with development by sharing their frameworks, coding insight and help with improving UAC.

Thanks to @HD Blooms537 and @Carthe123, @Creeper Tux, @Scottexx For being some of the first realms to test UAC before it became public, as well to Blooms and Carthe again for being our Main Usual beta testers for the Anti-Cheat.

Most importantly we would also like to thank the developers of some of those more popular "Third Party Utility Clients"
That also shared insight to better improve UAC.
Specifically Old Grego & Weedle from the "Badman" Client who mostly played on "Unity Anarchy Realm" (join the main unity discord in partner to play) that utilized UAC before UAC was even public
 As well as @Surge Client Owner From the "surge" Client, who also use our UAC Dev Test Realm to test their client on as well.
We all know there are both sides to this coin. And it is humbling and wholesome when these two sides work together. Very Much thanks from you guys.

We couldn't have done it without the help of some amazing people.
We honor them for the ideas and improvements to this Great Tool for all realm owners to use.
^^^^^^^^^^^^
Anyone in here +
Pointnetwork341
Astro
Epik
